.projects {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    .projects__item {
        @include transition();
        display: flex;
        flex-direction: column;
        border: 1px solid getColor(filter-border);
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        z-index: 0;

        .card {
            position: relative;
            overflow: hidden;

            &__overlay {
                position: relative;
                width: 370px;
                height: 294px;
                overflow: hidden;
            }

            &__animation {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: getColor(primary-color);
                transform: translateY(200%);
                transition: transform 500ms ease;
            }
        }

        &:is(:hover, :focus) {
            .card__animation {
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transform: translatex(0);
            }
        }

        .card__animation:is(:hover, :focus) {
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transform: translatex(0);
        }

        .card__description {
            font-size: 18px;
            color: white;
            line-height: 1.55;
            letter-spacing: 0.03em;
            padding: 49px 45px 0 24px;
            z-index: 1;
        }

        &:is(:hover, :focus) {
            cursor: pointer;
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
                0px 4px 4px 0px rgba(0, 0, 0, 0.06),
                0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        }

        .projects__subtitles {
            padding: 20px 24px;
        }

        .projects__name {
            display: flex;
            margin-bottom: 4px;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
        }

        .projects__description {
            display: flex;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.88;
            color: var(--scnd-font-color);
        }
    }
}
