$fontSize: 14px;
$fontWeight: 700;
$letterSpacing: 0.03em;
.article {
    padding: 0 15px;

    display: flex;
    gap: 30px;
    flex-direction: column;

    @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include desktop {
        display: flex;
    }

    &__element {
        max-width: 450px;
        display: flex;
        max-width: fit-content;
    }

    &__title {
        text-align: center;
        margin-bottom: 10px;
        font-weight: $fontWeight;
        font-size: $fontSize;
        letter-spacing: $letterSpacing;
        line-height: 1.14;

        @include tablet {
            text-align: start;
        }
        @include desktop {
            text-align: start;
        }
    }
    &__text {
        max-width: 450px;
        font-style: normal;
        font-size: $fontSize;
        line-height: 24px;
        letter-spacing: $letterSpacing;
        color: getColor(scnd-font-color);

        @include tablet {
            max-width: 354px;
        }
        @include desktop {
            max-width: 270px;
        }
    }
    &__box {
        max-width: 450px;
        text-align: center;
        max-height: 120px;
        margin-bottom: 30px;
        background-color: getColor(scnd-background);
        border-radius: 4px;
        border-style: none;

        @include tablet {
            max-width: 354px;
        }
        @include desktop {
            max-width: 270px;
        }
    }
    &__icon {
        display: inline-block;
        vertical-align: middle;
        padding-top: 25px;
        padding-bottom: 25px;
        margin: auto;
        width: 70px;
        height: 70px;
    }
}
