$fontWeight: 500;
$fontSize: 14px;
$lineHeight: 1.14;
$letterSpacing: 0.02em;

.header {
    border-bottom: 1px solid getColor(main-border);
    padding: 10px 0;

    @include tablet {
        padding: 21px 0;
    }
    @include desktop {
        padding: 24px 0 25px;
    }
}

.page-header {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
        display: flex;
        align-items: center;
        gap: 93px;
    }

    &__menu {
        display: none;

        @include tablet {
            display: flex;
            gap: 46px;
        }
        @include desktop {
            display: flex;
            gap: 46px;
        }
    }
    &__item {
        @include transition();
        text-decoration: none;
        color: getColor(main-font-color);
        font-weight: $fontWeight;
        font-size: $fontSize;
        line-height: $lineHeight;
        letter-spacing: $letterSpacing;

        &:is(:hover, :focus) {
            color: getColor(primary-color);
        }
        &__underline {
            position: relative;
            color: getColor(primary-color);

            &::after {
                content: '';
                @include borderBottom();
                display: inline-block;
                width: 100%;
                left: 0;
                margin-top: 47px;
                position: absolute;
            }

            &:hover::after {
                @include borderBottom();
                content: '';
                display: inline-block;
                align-items: center;
                position: absolute;
                left: 0;
                width: 100%;
                margin-top: 47px;
                position: absolute;
            }
        }
    }
}
.contacts {
    display: none;

    @include tablet {
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    @include desktop {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    &:is(:hover, :focus) {
        color: getColor(primary-color);
    }
    &__link {
        @extend .contacts;
        @include transition();

        gap: 10px;
        white-space: nowrap;
        text-decoration: none;
        color: getColor(scnd-font-color);
        fill: currentColor;
        font-weight: $fontWeight;
        font-size: $fontSize;
        line-height: $lineHeight;
        display: flex;
    }

    &__icon {
        @include contactIcon();
    }
    &__icon--smartphone {
        @include contactIcon();
        height: 16px;
    }
}
.navigation-mobile {
    display: flex;
    min-width: 30px;
    min-height: 30px;

    @include tablet {
        display: none;
    }
    &__icon {
        width: 24px;
        height: 16px;
        fill: black;
    }
    &__button {
        position: absolute;
        top: 18px;
        right: 22px;
        border: none;
        background-color: white;
    }
}
