$fontWeight: 700;
$fontSize: 14px;
$lineHeight: 1.14;

.services {
    display: none;

    @include desktop {
        display: flex;
        margin-top: -94px;
    }

    &__title {
        @include h2style();
    }

    &__list {
        position: relative;
        display: flex;
        gap: 30px;
    }
    &__item {
        position: relative;
        overflow: hidden;

        & > .services__item-txt {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            padding: 27px 0 27px;
            margin-bottom: 4px;
            background-color: rgba(47, 48, 58, 0.8);
        }
    }
    &__item-txt {
        font-size: $fontSize;
        font-weight: $fontWeight;
        line-height: $lineHeight;
        letter-spacing: $letterSpacing;
        text-align: center;
        text-transform: uppercase;
        color: white;
    }
}
