* {
    margin: 0;
    padding: 0;
    outline: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: getColor(main-font-color);
}

ul {
    list-style: none;
}
h2 {
    margin-bottom: 50px;
}
.section {
    width: 100%;
    padding: 60px 0;

    @include tablet {
        padding: 94px 0;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 480px;

    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
        padding: 0 15px;
    }
}
