* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: getColor(main-font-color);
}

ul {
    list-style: none;
}
h2 {
    margin-bottom: 50px;
}
.section {
    padding: 94px 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
