$mainFont: 'Roboto', sans-serif;
$scndFont: 'Raleway', sans-serif;

$colors: (
    'primary-color': #2196f3,
    'main-font-color': #212121,
    'scnd-font-color': #757575,
    'main-background': #2f303a,
    'scnd-background': #f5f4fa,
    'main-border': #ececec,
    'filter-border': #eeeeee,
    'services-overlay': #2f303acc 80%,
);

@function getColor($key) {
    @return map-get($colors, $key);
}
