@mixin transition() {
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin h2style() {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

@mixin iconstyle($colors) {
    fill: $colors;
    padding: 12px;
    width: 20px;
    height: 20px;
}
@mixin borderBottom() {
    border-bottom: solid 4px #2196f3;
}
@mixin contactIcon() {
    display: flex;
    width: 16px;
    height: 14px;
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
